<!-- <p>Sets: <%= //formdata.sets %></p>
<p>Weights: <%= //formdata.weight %></p>
<p>Reps: <%= //formdata.reps %></p> -->

<h1>Barbell</h1> <hr>
<h1>Bench Dip</h1> <hr>
<h1>Hammer Curl</h1> <hr>
<h1>Push Down</h1> <hr>