<!-- <button> Barbell Curl</button>
<button> Bench Dip</button>
<button> Hammer Curl</button>
<button> Push Down</button> -->

<br><hr>
<h1>Input Your Exercise</h1>

<form method="POST" action="/plan/index">
    <div>
        <label>Select Exercise</label>
        <select name="exercise" multiple="multiple" >
            <option value="barbell">Barbell</option> 
            <option value="benchdip">Bench Dip</option>
            <option value="hammercurl">Hammer Curl</option> 
            <option value="pushdown">Push Down</option>      
        </select>
    </div>
<div>
    <label>Sets</label>
    <input name="sets" type="number"/>
</div>

<div class="form-group">
    <label>Weight</label>
    <input name="weight" type="number"/>
</div>

<div class="form-group">
    <label>Reps</label>
    <input name="reps" type="number"/>
</div>

<button type="submit">Save!</button>
</div>
</form>